*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    background-color: rgb(39, 41, 68);
    font-family: sans-serif;
}
.score{
    color: white;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.score h2 {
    font-size: 30px;

}
.score h3 {
    text-align: center;
    padding-top: 7px;
    font-size: 20px;
}

.intro ,.headingend{
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
    align-items: center;
    
}

.intro h1 ,  h1{
    color: white;
    font-size: 50px;
   

}

.intro button, .match button{
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(45,117,96);
    border-radius: 4px;
    cursor: pointer;
}

.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.5s ease;
}
.winner{
    color: white;
    text-align: center;
}

.hands, .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.player-hand{
    transform: rotateY(180deg);
}

.fadeout{
    opacity: 0;
    pointer-events: none;

}
.fadein{
    opacity: 1;
    pointer-events: all;

}
.fadeint{
  opacity: 1;
  pointer-events: all;

}

@keyframes shakeplayerhands {

    0% {
      transform: translateY(0px) rotateY(180deg);
    }
    30% {
      transform: translateY(-50px) rotateY(180deg);
    }
    44% {
      transform: translateY(0px) rotateY(180deg);
    }
    58% {
      transform: translateY(-50px) rotateY(180deg);
    }
    72% {
      transform: translateY(0px) rotateY(180deg);
    }
    86% {
      transform: translateY(-50px) rotateY(180deg);
    }
    100% {
      transform: translateY(0px) rotateY(180deg);
    }
  }
@keyframes shakecomputerhands {

    0% {
      transform: translateY(0px);
    }
    30% {
      transform: translateY(-50px);
    }
    44% {
      transform: translateY(0px);
    }
    58% {
      transform: translateY(-50px);
    }
    72% {
      transform: translateY(0px);
    }
    86% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  
  
  
  











  /* Retry Button */
.try {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  background-color: rgb(197, 28, 28);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50%;
  position: absolute;
  top: 92%;
  /* left: 50%; */
  transform: translate(-50%,-50%);
  transition: opacity 0.5s ease;
}